<div id="resource-list">
	<table class="datatable">
		<tr>
			<th>Boat</th>
			<th>Trip Time</th>
			<th>Origin/Dest</th>
			<th>Notes</th>
			<th><% if @current_user %>
					<%= link_to image_tag('book_add.png', :alt => 'Add'), new_log_entry_url %>
				<% end %></th>
		</tr>
		<% @entries.each do |entry| %>
			<tr>
				<td><%= entry.boat.description %></td>
				<td><%= trip_time(entry) %></td>
				<td>
					<%= entry.origin %>
					<% if entry.destination && !entry.destination.blank? && entry.destination != entry.origin %>
					 to <%= entry.destination %>
					<% end %>
				</td>
				<td><%= entry.notes %></td>
				<td><% if @current_user %>
						<%= link_to image_tag('book_edit.png',   :alt => 'Edit'), edit_log_entry_url(entry) %>
						<%= link_to image_tag('book_delete.png', :alt => 'Delete'),
						            destroy_log_entry_url(entry),
						            :confirm => 'Are you sure you want to delete this entry?' %>
					<% end %></td>
			</tr>
		<% end %>
	</table>
</div>